:root {
  --x-translate: 0px;
  --y-translate: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.container {
  width: 100%;
  padding: 20px;
  height: calc(100% - env(safe-area-inset-top));
  padding-top: env(safe-area-inset-top);
  background: #a7d7c5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-family: 'Karla', sans-serif;
}

.container::after {
  content: '';
  position: absolute;
  display: block;
  width: 750px;
  height: 750px;
  transform: translate(
      calc(-25% + var(--x-translate)),
      calc(-25% + var(--y-translate))
    )
    rotate(-45deg);
  border-radius: 160px;
  background: #c1e3d6;
  top: 0;
  left: 0;
  z-index: 1;
  transition-duration: 0.1s;
}

.container::before {
  content: '';
  position: absolute;
  display: block;
  width: 750px;
  height: 750px;
  transform: translate(
      calc(25% + var(--x-translate)),
      calc(25% + var(--y-translate))
    )
    rotate(-45deg);
  border-radius: 160px;
  background: #c1e3d6;
  bottom: 0;
  right: 0;
  z-index: 1;
  transition-duration: 0.1s;
}

form {
  position: relative;
  width: 700px;
  padding: 40px;
  border-radius: 50px;
  background: #f6fbf9;
  z-index: 2;
  overflow: hidden;
}

.formContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.contentExit {
  transform: translate(1000px);
  animation: exitRight 1s ease 0s 1 normal forwards;
}

.title {
  color: #212b27;
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
}

.descript {
  width: 500px;
  margin-top: 4px;
  color: #32403b;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
}

.inputContainer {
  margin-top: 33px;
  width: 100%;
  padding: 0 30px;
}

.inputBox {
  position: relative;
  width: 100%;
}

.inputField {
  width: 100%;
  height: 54px;
  border-radius: 15.341px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  outline: none;
  padding: 30px;
  display: flex;
  align-items: center;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 13px;
}

.inputField::placeholder {
  color: rgba(0, 0, 0, 0.5);
}

.inputBox + .inputBox {
  margin-top: 40px;
}

.inputError {
  background: rgb(248, 197, 188);
  animation: inputBlink 1s ease 0s 1 normal forwards;
}

.inputValid {
  background: white;
  animation: inputBack 1s ease 0s 1 normal forwards;
}

.passwordEyeIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.7;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

button::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 23px;
  z-index: -2;
}

button::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 23px;
  z-index: -1;
  transition-duration: 0.3s;
}

button:hover::before {
  width: 100%;
}

button:active {
  transform: translateY(2px);
}

.submitButton {
  margin-top: 30px;
  width: 100%;
  width: 390px;
  height: 60px;
  border-radius: 23px;
  /* background: #84c7ae; */
  background: none;
  color: #fff;
  font-size: 23px;
  font-weight: 700;
  line-height: 30px;
}

.submitButton:after {
  background-color: #84c7ae;
}

.submitButton::before {
  background-color: #4a9177;
}

.clearButton {
  margin-top: 13px;
  width: 100%;
  width: 280px;
  height: 40px;
  border-radius: 23px;
  background: rgb(248, 137, 117);
  color: #fff;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
}

.clearButton:after {
  background-color: rgb(248, 137, 117);
}

.clearButton::before {
  background-color: tomato;
}

.error {
  position: absolute;
  bottom: -24px;
  left: 50%;
  transform: translate(-50%);
  color: tomato;
  white-space: nowrap;
  animation: getError 1s ease 0s 1 normal forwards;
}

.errorBack {
  animation: backError 1s ease 0s 1 normal forwards;
}

.checkContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 1000px), -50%);
  display: none;
  flex-direction: column;
  align-items: center;
}

.checkMark {
  width: 200px;
  height: 200px;
}

.checkText {
  margin-top: 30px;
  color: #32403b;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}

.checkEnter {
  display: flex;
  transform: translate(-50%, -50%);
  animation: enterLeft 1s ease 0s 1 normal forwards;
}

@media (max-height: 899px) {
  .container::after {
    width: 300px;
    height: 300px;
    border-radius: 70px;
  }

  .container::before {
    width: 300px;
    height: 300px;
    border-radius: 70px;
  }

  form {
    width: 500px;
    padding: 30px;
    border-radius: 30px;
  }
}

@media (max-height: 799px) {
  .container {
    padding: 0;
  }
  .container::after {
    width: 200px;
    height: 200px;
    border-radius: 50px;
  }

  .container::before {
    width: 200px;
    height: 200px;
    border-radius: 50px;
  }

  form {
    width: 300px;
    padding: 10px;
    border-radius: 24px;
  }

  .title {
    font-size: 24px;
    line-height: 32px;
  }

  .descript {
    width: 100%;
    font-size: 14px;
    line-height: 14px;
  }

  .inputContainer {
    padding: 0 20px;
  }

  .inputField {
    width: 100%;
    height: 30px;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: #fff;
    outline: none;
    padding: 16px;
    display: flex;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 13px;
  }

  .inputBox + .inputBox {
    margin-top: 24px;
  }

  .passwordEyeIcon {
    right: 20px;
    width: 20px;
    height: 20px;
  }

  .submitButton {
    width: 260px;
    height: 40px;
    font-size: 20px;
    border-radius: 23px;
    line-height: 26px;
  }

  .clearButton {
    width: 200px;
    height: 30px;
    border-radius: 20px;
    font-size: 16px;
    line-height: 26px;
  }

  .error {
    bottom: -20px;
    font-size: 14px;
  }

  .checkMark {
    width: 100px;
    height: 100px;
  }

  .checkText {
    margin-top: 30px;
    font-size: 18px;
    line-height: 26px;
  }

  .checkEnter {
    display: flex;
    transform: translate(-50%, -50%);
    animation: enterLeft 1s ease 0s 1 normal forwards;
  }
}

@media (max-height: 599px) {
  .container::after {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }
  .container::before {
    width: 100px;
    height: 100px;
    border-radius: 20px;
  }

  form {
    width: 300px;
    padding: 10px;
    border-radius: 10px;
  }

  .title {
    font-size: 20px;
    line-height: 24px;
  }

  .descript {
    width: 280px;
    margin-top: 2px;
    font-size: 12px;
    line-height: 12px;
  }

  .inputContainer {
    margin-top: 0px;
    padding: 10px;
  }

  .inputField {
    height: 30px;
    border-radius: 8px;
    padding: 10px;
    font-size: 14px;
    line-height: 13px;
  }

  .inputBox + .inputBox {
    margin-top: 20px;
  }

  .submitButton {
    margin-top: 10px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }

  .clearButton {
    margin-top: 10px;
    width: 260px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 18px;
  }

  .error {
    bottom: -18px;
    font-size: 11px;
  }
}

@keyframes inputBlink {
  20%,
  60%,
  100% {
    background: rgb(248, 197, 188);
  }

  0%,
  40%,
  80% {
    background: white;
  }
}

@keyframes inputBack {
  0% {
    background: rgb(248, 197, 188);
  }
  100% {
    background: white;
  }
}

@keyframes getError {
  0% {
    opacity: 0;
    transform: translate(-50%) scale(0);
  }
  100% {
    opacity: 1;
    transform: translate(-50%) scale(1);
  }
}

@keyframes backError {
  0% {
    opacity: 1;
    transform: translate(-50%) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(-50%) scale(0);
  }
}

@keyframes exitRight {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(1000px);
  }
}

@keyframes enterLeft {
  0% {
    transform: translate(calc(-50% - 1000px), -50%);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}
